header
{
    background-color: #282A35;
    top:0px;
    width: 100%;
}
body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.topo
{
    display:flex;
    margin: auto;
    align-items:center;
}

.teste
{
    margin-top: 150px;
}

.logo
{
    width:4rem;
    height:4rem;
    border-radius: 100%;
}

.opcoes
{
    margin-left:auto;
}

.opcoes ul
{
    list-style:none;
}

.opcoes ul li
{
display: inline;
font-size:1.3em;
padding: 15px;
}

.opcoes ul li a
{
    text-decoration: none;
    color:white;
}