header
{
    background-color: #282A35;
    position: sticky;
    top:0px;
    width: 100%;
}

.topo
{
    display:flex;
    margin: auto;
    align-items:center;
}

.teste
{
    margin-top: 150px;
}

.logoPolitec
{
    width:57px;
    height:66px;
}

.opcoes
{
    margin-left:auto;
}

.opcoes ul
{
    list-style:none;
}

.opcoes ul li
{
display: inline;
font-size:1.3em;
padding: 15px;
}

.opcoes ul li a
{
    text-decoration: none;
    color:white;
}